@import 'reset.css';

*, *:before, 
*:after {
    box-sizing: border-box;
}

body {
    background-color: #ECEEF1;
    font: 400 13.3333px Arial;
}

header {
    text-align: center;
    margin-top: 30px;
}

li {
    display: inline;
    margin: 3px;
}

.top-login {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 10px 45px;
}

.account {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
    font-size: 12px;
}

.services {
    width: 100;
    text-align: center;
    margin-top: 15px;
}

.top-login > div > p {
    padding-top: 2px;
}

.top-login > div > a {
    text-decoration: none;
    padding-top: 4px;
    color: #0077c5;
}

.top-login > div > a:visited {
    text-decoration: none;
    color: #0077c5;
}

#signin {
    background-color: #0077c5;
    border-radius: 4px;
    border: 1px solid #4c4c4c;
    color: #fff;
    font: inherit;
    width: 102px;
    height: 34px;
}